/** Calendar Styles **/

/* 
Calendar: side blocks
-----------------------*/

.block .minicalendar {
    margin:10px auto;
    width:100%;
    border: 1px solid #DDDDDD;
    font-size:90%;
}

.block .minicalendar th, .block .minicalendar td {
    font-size: 110%;
    padding: 2px;
}


.block .minicalendar td.weekend {
    color:#A00;
}

.block .calendar-controls .previous {
    text-align: left;
    display: block;
    float: left;
    width: 12%;
}

.block .calendar-controls .current {
    float:left;
    text-align: center;
    display: block;
    width:76%;
}

.block .calendar-controls .next {
    text-align: right;
    display: block;
    float: left;
    width: 12%;
}

.block .filters table {
    border-collapse:separate;
    border-spacing: 2px;
    padding: 2px;
    width: 100%;
}

.block .content h3.eventskey {
    margin-top:0.5em;
    margin-bottom:0;
    margin-left:0.5em;
}


/* 
Calendar Table Styles
-----------------------*/    

.calendartable {
    width: 100%;
}

.calendartable th, .calendartable td {
    border-width: 0;
    text-align: center;
    vertical-align: top;
    width: 14%;
}

.calendartable .today {
    border: 1px solid #c06;
}

/* 
Calendar Event Colors
-----------------------*/
.calendar_event_course {background-color:#FFD3BD;}
.calendar_event_global {background-color:#D6F8CD;}
.calendar_event_group {background-color:#FEE7AE;}
.calendar_event_user {background-color:#DCE7EC;}
.calendartable .hasevent {border:2px solid;}

.calendartable a {color:#000077;}
.calendartable th,
.calendartable td {border-width:0;}

.calendartable .hasevent .duration.duration_global {border-top-color:#66D14D; border-bottom-color:#66D14D;}
.calendartable .hasevent .duration.duration_course {border-top-color:#FF9966; border-bottom-color:#FF9966;}
.calendartable .hasevent .duration.duration_course0 {border-top-color:#FF9966; border-bottom-color:#FF9966;}
.calendartable .hasevent .duration.duration_course1 {border-top-color:#0099FF; border-bottom-color:#0099FF;}
.calendartable .hasevent .duration.duration_course2 {border-top-color:#FFFF00; border-bottom-color:#FFFF00;}
.calendartable .hasevent .duration.duration_group {border-top-color:#FBBB23; border-bottom-color:#FBBB23;}
.calendartable .hasevent .duration.duration_user {border-top-color:#A1BECB; border-bottom-color:#A1BECB;}

.calendartable .weekend {color:#990000;}
.calendartable .today {border:2px solid #444444;}
.calendartable .nottoday {border-color:#EEEEEE;}
.calendartable .eventnone a {text-decoration:none;color:black;cursor:text;}


.path-calendar .calendar-controls .previous,
.path-calendar .calendar-controls .next,
.path-calendar .calendar-controls .current {display: block;float: left;width: 12%;}
.path-calendar .calendar-controls .previous {text-align: left;}
.path-calendar .calendar-controls .current {text-align: center;width: 76%;}
.path-calendar .calendar-controls .next {text-align: right;}

.path-calendar {}
.path-calendar .maincalendar {vertical-align: top;padding:0;}
.path-calendar .maincalendar .bottom {text-align: center;padding:5px 0 0 0;}
.path-calendar .maincalendar .heightcontainer {height: 100%;position: relative;}
.path-calendar .maincalendar .calendarmonth {width:98%;margin:10px auto;}
.path-calendar .maincalendar .calendarmonth ul {margin:0;}
.path-calendar .maincalendar .calendarmonth ul li {list-style-type:none;margin-top: 4px;}
.path-calendar .maincalendar .calendarmonth td {height: 5em;}
.path-calendar .maincalendar .calendar-controls .previous,
.path-calendar .maincalendar .calendar-controls .next{width: 30%;}
.path-calendar .maincalendar .calendar-controls .current {width: 39.95%;}
.path-calendar .maincalendar .controls {width:98%;margin:10px auto;}
.path-calendar .maincalendar .eventlist .event {width:100%;margin-bottom:10px;border-spacing:0px;border-collapse:separate;border-width:1px;border-style:solid;}
.path-calendar .maincalendar .eventlist .event .topic .name {float:left;}
.path-calendar .maincalendar .eventlist .event .topic .date {float:right;}
.path-calendar .maincalendar .eventlist .event .course {float:left;clear:left;}
.path-calendar .maincalendar .eventlist .event .side {width:32px;}
.path-calendar .maincalendar .header {overflow:hidden;}
.path-calendar .maincalendar .header .buttons {float: right;}
.path-calendar .filters table {border-collapse:separate;border-spacing: 2px;width: 100%;}
#page-calendar-export .indent {padding-left: 20px;}
