@charset "utf-8";
/* CSS Document */


div #region-main #HeaderRight {
	/*background-image: url([[pix:theme|HeaderRight]]);
	background-repeat: repeat-x;
	background-position: top left;
	width: 100%;
	visibility: visible;
	z-index:5;
	height:85px;
	*/
}

div #region-main #HeaderLeft {
	background-image: url([[pix:theme|HeaderNeonLeft]]);
	width: 390px;
	/*height: 55px;*/
	height:85px;	
	border-radius: 6px;
	-webkit-top-left-border-radius: 6px; 
	-webkit-bottom-right-border-radius: 6px;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
}
div #region-main #HeaderStretch {
	background-image: url([[pix:theme|HeaderNeonRight]]);
	background-position:top left;
	height: 85px;
	background-repeat:repeat-x;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-radius: 6px;
	-webkit-top-left-border-radius: 6px; 
	-webkit-bottom-right-border-radius: 6px;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	
	-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */ 
   -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";

   /* For IE 5.5 - 7 */ 
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000'); 
	width:auto;
	height:85px;
}
div #region-main #Header {
	height:97px;
	
	
}

div #region-main h1 {
	color: #009;
	background-color: #5C9B04;
	background-image: url([[pix:theme|NeonBackground]]);
	background-repeat: no-repeat;
	padding: 5px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	/*Rounded Corners*/
	border-radius: 4px;
	-webkit-top-left-border-radius: 4px; 
	-webkit-bottom-right-border-radius: 4px;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
     text-shadow: -1px -1px 1px rgba(255,255,255, .4);
	 
	 /*Shadow box*/
	 -moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;
	/* For IE 8 */ 
   -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";

   /* For IE 5.5 - 7 */ 
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000'); 
	
	
}
div #region-main h1 a.autolink {
	color:#009;
}
div #region-main h2 {
	color: #5C9B04;
}

div #region-main h2.headingblock {
	color:#000000;
}

div #region-main h3 {
	color: #009;
}
/*Hides the automatically-generated lesson page title*/
#page-mod-lesson-view div.region-content span#maincontent + h2.main {
	display:none;
}

a.glossary {
	color:#F60;
}
.OdysseusPNumbering {
	font-style: italic;
}

.ImageRightBorderless {
	float: right;
	margin: 10px;
}

.ContrastText {
	color: #CC9933;
	font-weight: bold;

}
.ContrastText2 {
	color: #CC6633;
	font-weight: bold;

}
div#Highlight {
	background-color: #B8E48B;
	color:#231B67;
	margin-bottom:24px;
}

#Highlight h2 {
	color: #009;
}
#Advancing {
	background-color: #006;
	color:#FFF;
	width: 80%;
	margin-left:10%;
	margin-right:10%;
	padding: 10px;
}
.100percent {
	width:100%;
	
}
#Sentences {
	display:inline;
	float:left;
	margin-left: 5%;
	width:60%;
	
	line-height: 1.6;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	border: 2px outset #666;
	padding: 10px;
	background-color:#F2F2F2;
	
}
#Thesis, #Sentence1, #Sentence2, #Sentence3, #Restatement {	
	display: inline;
	position: static;
	margin:0;
	padding:0;
}
#Buttons {
	display:inline;
	float: left;
	width: 25%;
	max-width: 175px;
	margin:0;
	padding:0;

}
#ThesisBtn, #Sentence1Btn, #Sentence2Btn, #Sentence3Btn, #RestatementBtn, #Buttons button {
	width: 100%;
}
#Buttons button {
	padding:5px;
	width: 100%;
	height:auto;
	text-align:left;
	font-weight:bold;
	margin-bottom: 5px;
	white-space: normal;
	/*-moz-box-shadow: 3px 3px 4px #000;
	-webkit-box-shadow: 3px 3px 4px #000;
	box-shadow: 3px 3px 4px #000;*/
	/* For IE 8 */ 
   -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#666')";

   /* For IE 5.5 - 7 */ 
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color='#666'); 
	background-image: url([[pix:theme|Gradient]]);
	
	
    
	text-decoration: none;
	border: 1px inset #aaa;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	border-radius: 8px;
	-moz-box-shadow: 1px 1px 1px #666;
	-webkit-box-shadow: 1px 1px 1px #666;
	box-shadow: 1px 1px 1px #666;
	/*text-shadow: rgba(0,0,0, .5) 0px -1px 0px;*/
	border-top: inset 1px #ccc;
	border-left: inset 1px #ccc;
	border-bottom: solid 1px solid #000;
	border-right: 1px solid #666;
	background-repeat:repeat-x;
	background-position:left top;
	
}
#ThesisBtn button {
	background-color: #00CE9C;
}
#ThesisBtn button:hover {
	background-color: #006249;
	color:#FFF;
}
#Thesis {
	color: #006249;
}
#Sentence1Btn button {
	background-color: #00CEFF;
}
#Sentence1Btn button:hover {
	background-color: #007C9B;
	color:#FFF;
}
#Sentence1 {
	color: #007C9B;
}
#Sentence2Btn button {
	background-color: #FF9CCE;
}
#Sentence2Btn button:hover {
	background-color: #F4007A;
	color:#FFF;
}
#Sentence2 {
	color: #F4007A;
}
#Sentence3Btn button {
	background-color: #FF9C00;
}
#Sentence3Btn button:hover {
	background-color: #C47500;
	color:#FFF;
}
#Sentence3 {
	color: #C47500;
}
#Restatement button {
	background-color: #FFF;
}
#RestatementBtn button:hover {
	background-color: #000;
	color:#FFF;
}
#Restatement {
	color: #000;
}
.ZoomText {
	
}

.Larger {
	font-size: 120%;
	font-weight:bold;
}