/* 
  -----------------------------------
  Tree Menu Magic 2
  by Project Seven Development
  www.projectseven.com
  Style Theme: 01 - Basic
  -----------------------------------
*/

.p7TMM01 {
	font-size: inherit;
	/*font-family: Arial, Helvetica, sans-serif;*/
	zoom: 1;
}
.p7TMM01 ul {
	margin: 0;
	padding: 0;
}
.p7TMM01 ul ul {
	font-size: .9em;
}
.p7TMM01 ul ul ul {
	font-size: 1em;
}
.p7TMM01 li {
	list-style-type: none;
	margin: 0;
}
.p7TMM01 ul ul li {
	padding-left: 1em;
}
.p7TMM01 ul a:link, .p7TMM01 ul a:visited {
	/*color: #000;*/
	display: block;
	padding: 3px 8px 3px 18px;
	text-decoration: none;
	zoom: 1;
	/*font-variant: small-caps;*/
	outline: 0;
}
.p7TMM01 ul a:hover, .p7TMM01 ul a:focus, .p7TMM01 ul a:active {
	/*color: #C30;
	text-decoration: underline;*/
}
.p7TMM01 ul ul a {
	font-variant: normal;
}
.p7TMM01 a.p7tmm_page {
	background-image: url(../pix/p7tmm/tmm_page.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
.p7TMM01 a.trig_closed {
	background-image: url(../pix/p7tmm/tmm_east_black.gif);
	background-repeat: no-repeat;
	background-position: left center;
}
.p7TMM01 a.trig_open {
	background-image: url(../pix/p7tmm/tmm_south_black.gif);
	background-repeat: no-repeat;
	background-position: left center;
	font-weight: bold;
}
.p7TMM01 ul ul a.trig_closed, .p7TMM01 ul ul a.trig_open {
	/*font-variant: small-caps;*/
	letter-spacing: 0.1em;
	font-size: 1.1em;
}
.p7TMM01 ul ul a.trig_open {
	/*color: #000;*/
}
.p7TMM01 a.current_mark {
	font-weight:bold;
	color:#C30;
}
.p7TMM01 ul ul a.current_mark {
	color:#C30;
}
.p7TMMtoggle {
	display:none;
}
.p7TMM01_toggle_all {
	margin: 0 0 12px 0;
}
.p7TMM01_toggle_all a:link, .p7TMM01_toggle_all a:visited {
	color: #000;
	/*font-variant: small-caps;*/
	outline: 0;
}
.p7TMM01_toggle_all a:hover, .p7TMM01_toggle_all a:focus, .p7TMM01_toggle_all a:active {
	color: #C30;
	text-decoration: underline;
}


